.Screen {
  min-height: 100vh;
  background-color: #f0f2f5;

  &__main {
    width: 100%;
    max-width: 80%;
    margin: auto;
    padding: 3rem 0;

    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }
}
