.Screen {
  min-height: 100vh;
  background-color: #fafafa;

  .Header {
    padding: 0;

    @media (min-width: 960px) {
      padding: 0 50px;
    }
  }

  .main {
    width: 100%;
    padding: 2rem 20px;

    @media (min-width: 960px) {
      max-width: 90%;
      margin: auto;
      padding: 3rem 50px;
    }

    @media (min-width: 1400px) {
      max-width: 85%;
    }

    > *:first-child {
      margin-top: 0;
    }
    > *:last-child {
      margin-bottom: 0;
    }
  }
}
