.App {
  min-height: 100vh;

  &__main {
    width: 100%;
    max-width: 80%;
    margin: auto;
    padding: 3rem 0;
  }

  &__bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.5rem 0 0.75rem;

    h1 {
      margin-bottom: 0;
    }
  }

  &__search {
    width: 100%;
    max-width: 400px;
  }
}

.loading-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}
