/*
  ant design overrides
*/

h1.ant-typography {
  font-size: 28px;
}

.ant-layout-header,
.ant-menu.ant-menu-dark,
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #313131;
}

section.ant-layout {
  background-color: #fafafa;
}

.ant-table-wrapper {
  border-bottom: 1px solid #ddd;
}

.ant-table-thead > tr > th {
  border-top: 1px solid #edeeef;
  border-bottom: 2px solid #e8e8e8;
}

.ant-table-tbody {
  > tr {
    > td {
      padding: 8px 16px;
    }

    &:last-of-type {
      > td {
        border-bottom: 1px solid #ddd;
      }
    }
  }
}

tr.ant-table-row:nth-child(odd) {
  background: #f9f9f9;
}
tr.ant-table-row:nth-child(even) {
  background: #fafafa;
}

.ant-input-search {
  border-radius: 4px;
}
.ant-input-search-icon::before {
  border: none;
}

.ant-pagination-item,
.ant-pagination-item-active,
.ant-pagination-prev .ant-pagination-item-link,
.ant-pagination-next .ant-pagination-item-link,
.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  background: none;
  border: none;
}

.PostsTableActionButton {
  padding: 0;
  margin-right: 14px;
}

.ExportPostsButton {
  padding-right: 0;
}
